# Supabase Configuration
VITE_SUPABASE_URL=https://igvizqgbrxmdtyaujbxu.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_rcxJJylkzoTvkVH2wk9T1w_P8t4bMoA

# API Configuration
VITE_API_URL=http://localhost:5000
# WalletConnect Configuration (get from https://dashboard.reown.com)
VITE_WALLETCONNECT_PROJECT_ID=e27f06c2f548940082bea52f6b2e41a8